<configuration>
    <property name="defaultPattern" value='"%d{YYYY-MM-dd HH:mm:ss.SSS}" %5p [%t] %c - %m%n'/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    <springProfile name="dev, test">
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <appender name="RunLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/home/work/logs/zhibo-front-api.log.%d{yyyyMMdd}
                </fileNamePattern>
            </rollingPolicy>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>${defaultPattern}</pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="Console"/>
        </root>
        <logger name="com.lin.commonspring" level="WARN" additivity="false">
            <appender-ref ref="RunLog"/>
        </logger>
        <logger name="com.lin.commonspring.scheduled" level="INFO" additivity="false">
            <appender-ref ref="RunLog"/>
        </logger>
    </springProfile>
</configuration>